{
  "env": {
    "node": true,
    "commonjs": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "rules": {
    "no-console": "off",
    "semi": "error",
    "brace-style": "error",
    "indent": [
      "error",
      2,
      {
        "SwitchCase": 1
      }
    ],
    "quotes": [
      "error",
      "single"
    ],
    "space-before-blocks": "error",
    "space-in-parens": "error",
    "space-unary-ops": "error",
    "space-infix-ops": "error",
    "spaced-comment": "error",
    "max-len": [
      "error",
      120
    ],
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "block-spacing": "error",
    "dot-location": [
      "error",
      "property"
    ],
    "dot-notation": "error",
    "eqeqeq": "error"
  }
}
